.header{
    /* Dropdown Menu
  -------------------------------------------------- */
  .custom-style{
    background-color: white;
    border-color: white;
    padding-top: 30px;
  }
  .custom-logo{
    float: left;
    width: 200px;
    height: 85px;
    margin: -30px 0 0 30px;
  }
  .dropdown-menu {
    min-width: 200px;
    background-color:rgba(194, 202, 186,0.89);
    &.columns-2{
      min-width: 400px;
      }
    &.columns-3{
      min-width: 500px;
      }
    li a {
      padding: 10px 18px;
      font-weight: 200;
      }
    }
  .multi-column-dropdown{
    list-style: none;
    li a {
      display: block;
      clear: both;
      line-height: 1.228571429;
      color: #C62323;
      white-space: normal;
      }
      li a:hover {
      text-decoration: none;
      color: #262626;
      background-color: rgba(147,147,139,0.2);
      }
    }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(194, 202, 186,0.89);
    color:#d40f0f;
  }
  .custom-top-header{
    width: 80%;
    margin: 5px 0 5px 35%;
    width: 75%;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 39%,rgba(0,0,0,0.75) 99%);
    float: right;
  }
  .custom-country{
    float: right;
    color: white;
    padding: 2px 9px 3px 3px;
  }
@media (max-width: 767px) {
    .dropdown-menu.multi-column {
      min-width: 240px;
      overflow-x: hidden;
    }
  }
  @media (max-width: 480px) {
    .content {
      width: 90%;
      margin: 50px auto;
      padding: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
    }
    .dropdown-menu{
      margin-top: 0;
    }
    .dropdown-toggle{
      margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
      margin-bottom: 0;
    }
  }
}



