.categories{
	.custom-product-header{
    	text-align: center;
	}
	.box-custom{
		border: 1px solid #ccc;
		padding: 7px;
	}
 }
 @media (min-width: 482px){
	.categories{

	}
}
@media (min-width: 768px) {
	.categories{

	}
}	    
@media (min-width: 992px) {
	.categories{

	}
}

